page-login {
	.content-wrapper {
		background: #139980; /* Old browsers */
	    background: -moz-linear-gradient(45deg, #139980 0%, #4fd194 100%); /* FF3.6-15 */
	    background: -webkit-linear-gradient(45deg, #139980 0%,#4fd194 100%); /* Chrome10-25,Safari5.1-6 */
	    background: linear-gradient(45deg, #139980 0%,#4fd194 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#139980', endColorstr='#4fd194',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	    position: relative;

	    

	    .popoints-intro{
	      display:flex;
	      justify-content:center;
	      align-items:flex-start;
	      height: 80px;
	      position: relative;
	      top: -100px;
	      img{
	        width:230px;
	        height:260px;
	      }
	    }

	    .login-icon{

    	border:2px solid $white;
    	width:108px;
	    height:108px;
	    position:relative;
	    margin:20px auto;
	    border-radius:50%;
	    padding: 2.5px;

	    .login-img{
	        position:relative;
	      	margin:0px auto;
	        padding: 9px;
	        width:100px;
	        height:100px;
	        z-index:2;
	        border-radius:50%;
	         /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4fd194+0,139980+100 */
	        background: #4fd194; /* Old browsers */
	        background: -moz-linear-gradient(45deg, #4fd194 0%, #139980 100%); /* FF3.6-15 */
	        background: -webkit-linear-gradient(45deg, #4fd194 0%,#139980 100%); /* Chrome10-25,Safari5.1-6 */
	        background: linear-gradient(45deg, #4fd194 0%,#139980 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fd194', endColorstr='#139980',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	       
	    .login-item-home{
	        	width: 80px;
	            height: 80px;
	            border-radius: 50%;
	            margin: 0px;
	            display: flex;
	            align-items: center;
	            justify-content:center;
	            margin-bottom: 0px;
	            overflow:hidden;
	            background:$darkGreen;
	                img{
	                    width:70px;
	                    height:70px;
	                    margin-top: 25px;
	                }

	    }
	}
	}
	.background-img {
		background-image: url(../../assets/imgs/popoints-home-web.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position:0% 35%;
		width: 100%;
		height:58vh;
		position:relative;

	}
	.button-wrapper {
		text-align: center;
		padding: 10px 16px;
		position: absolute;
		bottom: 30px;
		left: 0;
		right: 0;
		a {
			color: $white;
			text-decoration: none;
		}
	}
}

.remember-password {
	.alert-button-group {
		padding: 8px 24px 20px;
	}
	.login-button, .cancel-button {
		width: 100%;
		display: block;
		text-align: center;
		margin: 5px auto;
		.button-inner {
			display: block;
		}
	}
	
    

}
}
