// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600,700');
body {
  font-family: 'Montserrat', sans-serif;
}

//general styles

$white:#ffffff;
$appleGreen:#4FD194;
$tabsGreen:#168769;
$pinkTabs:#f56673;
$greenMenu:#196a65;
$blueFacebbok:#4556b2;
$greenMenuBorder:#4FD194;
$borderFacebook:#172e78;
$redButton:#b30629;
$grayLight:#cccccc;
$orangePlus:#d34d42;
$orangeDark:#bf3b31;
$grayText:#5a5a5a;

// verdes del gradient - verder-button awwards
// --------------------------------------------------
$lightGreen:#4fd194;
$lightMediumGreen:#188876;
$darkMediumGreen:#117064;
$darkGreen:#139980;
$greenButton: #015656;

// cards-notifications

$grayBorder:#f5f5f5;



//---------------------------------------------------
//---buttons-forms----

.btn-green{ 
  margin: 15px auto;
  border-bottom: 5px solid $darkGreen;
  padding: 1.0rem 1.1rem;
  text-align: center;
  color: $white;
  border-radius: 8px;
  overflow: hidden;
  font-size: 1.4rem;
   line-height: 1.4rem;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4fd194+0,139980+100 */
  background: #4fd194; /* Old browsers */
  background: -moz-linear-gradient(45deg, #4fd194 0%, #139980 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #4fd194 0%,#139980 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #4fd194 0%,#139980 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fd194', endColorstr='#139980',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 }
 .btn-forms{
  width: 100%;
  margin: 5px auto;
  display: block;
  border-bottom: 5px solid $darkGreen;
  padding: 1.2em 1.1em;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  border-radius: 8px;
  overflow: hidden;
  font-size: 1.4rem;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4fd194+0,139980+100 */
  background: #4fd194; /* Old browsers */
  background: -moz-linear-gradient(45deg, #4fd194 0%, #139980 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #4fd194 0%,#139980 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #4fd194 0%,#139980 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fd194', endColorstr='#139980',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 }


.btn-primary {
  background:$pinkTabs;
  margin: 15px auto;
  display: block;
  border-bottom: 5px solid $redButton;
  padding: 1.2em 1.1em;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  border-radius: 8px;
  overflow: hidden;
  font-size: 1.4rem;
}

.btn-m{
   width:49%;
   margin-top:5px;
}

.btn-large{
   width: 100%;
}
.btn-facebook {
  background:$blueFacebbok;
  margin: 0px auto;
  display: block;
  border-bottom: 5px solid $borderFacebook;
  padding: 1.2em 1.1em;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  border-radius: 5px;
  overflow: hidden;
  font-size: 1.4rem;
}
.btn-white {
  background:$white;
  margin: 0px auto;
  display: block;
  border-bottom: 5px solid $greenButton;
  padding: 1.5em 1.1em;
  text-align: center;
  text-transform: uppercase;
  color: $darkGreen;
  border-radius: 8px;
  overflow: hidden;
  font-size: 1.4rem;
  line-height:0.3em;
}
.btn-google {
  background:$orangePlus;
  margin: 0px auto;
  display: block;
  border-bottom: 5px solid $orangeDark;
  padding: 1.2em 1.1em;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  border-radius: 5px;
  overflow: hidden;
  font-size: 1.4rem;
}
