page-advice {
.bar-buttons-md {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    justify-content: initial;
}
   .bar-buttons-md {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    justify-content: initial;
}

.toolbar-background-md {
     
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4fd194+0,139980+100 */
        background: #4fd194; /* Old browsers */
        background: -moz-linear-gradient(45deg, #4fd194 0%, #139980 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, #4fd194 0%,#139980 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, #4fd194 0%,#139980 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fd194', endColorstr='#139980',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.toolbar-title-md {
    padding: 0px;
    font-size: 2rem;
    font-weight: 500;
    color: $white;
    text-align: center;
}

.card-md {
    margin: 0px;
    border-radius: 2px;
    width: calc(100% - 20px);
    font-size: 1.4rem;
    background: $white;
    width: 100%;
    border-bottom:1px solid $grayBorder;
    display: flex;
}
.notifications-img{
        width: 30%;
        margin: 10px;
        padding: 5px;
        width:60px;
        height:60px;
        border-radius:50%;
           /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#139980+0,4fd194+100 */
        background:$pinkTabs; /* Old browsers */
       
    .notifications-item-home{
        width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: 0px;
            display: flex;
            align-items: center;
            justify-content:center;
            margin-bottom: 0px;
            overflow:hidden;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4fd194+0,139980+74 */
            background: #4fd194; /* Old browsers */
            background: -moz-linear-gradient(45deg, #4fd194 0%, #139980 74%); /* FF3.6-15 */
            background: -webkit-linear-gradient(45deg, #4fd194 0%,#139980 74%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(45deg, #4fd194 0%,#139980 74%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fd194', endColorstr='#139980',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                img{
                    width: 100%;
                    height: 100%;
                    margin-top:0px;
                }

    }

}
.notifications-content{
    width: 70%;
}

.card-md p {
    margin: 0 0 2px;
    font-size: 1REM;
    font-weight: normal;
    line-height: 1.5;
    color: #222;
}

.card-content-md, .card-md .item + .card-content-md {
    padding-top: 0;
}

.card-header-md {
    font-size: 1.6rem;
    color: #222;
    padding: 8px 16px;
}

}
