page-login-form {
    .button-md {
        background-color: #f56673;
        margin: 20px auto;
        padding: 1.5em 1.1em;
        border-radius: 8px;
    }
    .btn-white {
        border: 1px solid #015656;
        border-bottom-width: 5px;
        padding: 1.2em 1.1em;
        margin: 20px auto;
        width: 100%;
    }

}
