page-tab3 {
	[col-3]{
		padding:0px 0.5px;
	}
	[col-3]:first-child{
		padding-left:1px;
	}
	[col-3]:last-child{
		padding-left:1px;
	}

		.bar-buttons-md {
	    -webkit-box-ordinal-group: 1;
	    -webkit-order: 1;
	    -ms-flex-order: 1;
	    order: 1;
	    -webkit-transform: translateZ(0);
	    transform: translateZ(0);
	    -webkit-box-pack: initial;
	    -webkit-justify-content: initial;
	    -ms-flex-pack: initial;
	    justify-content: initial;
	}
}
