page-tab3 {
	[col-3]{
		padding:0px 0.5px;
	}
	[col-3]:first-child{
		padding-left:1px;
	}
	[col-3]:last-child{
		padding-left:1px;
	}

		.bar-buttons-md {
	    -webkit-box-ordinal-group: 1;
	    -webkit-order: 1;
	    -ms-flex-order: 1;
	    order: 1;
	    -webkit-transform: translateZ(0);
	    transform: translateZ(0);
	    -webkit-box-pack: initial;
	    -webkit-justify-content: initial;
	    -ms-flex-pack: initial;
	    justify-content: initial;
	}
	.btn-popoints{
		padding: 0px;
	}
	.fixed-content {
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		position: absolute;
		display: block;
	
		background: #4fd194; /* Old browsers */
		background: -moz-linear-gradient(45deg, #4fd194 0%, #139980 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg, #4fd194 0%,#139980 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(45deg, #4fd194 0%,#139980 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fd194', endColorstr='#139980',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	   
	}
}
